In [1]:
import pandas as pd

In [65]:
df= pd.read_csv('moviesv2.csv')

In [81]:
# drop nan value of gross column

df.dropna(subset=['gross'], inplace=True)
df.dropna(subset=['runtime'], inplace=True)
df.dropna(subset=['no_of_reviews'], inplace=True)
df.dropna(subset=['rating'], inplace=True)

In [83]:
df.to_csv('moviesv3.csv', index=False)

In [85]:
df= pd.read_csv('moviesv3.csv')
df

,title,year,rating,no_of_reviews,genres,runtime,gross
0,The Dark Knight,2008.0,9.0,"2,706,558","\r\nAction, Crime, Drama",152 min,$534.86M
1,The Lord of the Rings: The Return of the King,2003.0,9.0,"1,880,283","\r\nAction, Adventure, Drama",201 min,$377.85M
2,Inception,2010.0,8.8,"2,402,450","\r\nAction, Adventure, Sci-Fi",148 min,$292.58M
3,The Lord of the Rings: The Fellowship of the Ring,2001.0,8.8,"1,909,192","\r\nAction, Adventure, Drama",178 min,$315.54M
4,The Lord of the Rings: The Two Towers,2002.0,8.8,"1,697,418","\r\nAction, Adventure, Drama",179 min,$342.55M
...,...,...,...,...,...,...,...
4949,Gigli,2003.0,2.6,"49,602","\r\nComedy, Crime, Romance",121 min,$6.07M
4950,Glitter,2001.0,2.4,"23,744","\r\nDrama, Music, Romance",104 min,$4.27M
4951,The Hottie & the Nottie,2008.0,1.9,"38,569","\r\nComedy, Romance",91 min,$0.03M
4952,From Justin to Kelly,2003.0,1.9,"26,639","\r\nComedy, Musical, Romance",81 min,$4.92M
4953,A Slave of Fashion,1925.0,1.9,177,"\r\nComedy, Romance",60 min,$0.18M

In [89]:
# join genre to single line removing \r\n

df['genres'] = df['genres'].str.replace('\r\n', '')

df['genres'] = df['genres'].str.replace('\t', '')
df

,title,year,rating,no_of_reviews,genres,runtime,gross
0,The Dark Knight,2008.0,9.0,"2,706,558","Action, Crime, Drama",152 min,$534.86M
1,The Lord of the Rings: The Return of the King,2003.0,9.0,"1,880,283","Action, Adventure, Drama",201 min,$377.85M
2,Inception,2010.0,8.8,"2,402,450","Action, Adventure, Sci-Fi",148 min,$292.58M
3,The Lord of the Rings: The Fellowship of the Ring,2001.0,8.8,"1,909,192","Action, Adventure, Drama",178 min,$315.54M
4,The Lord of the Rings: The Two Towers,2002.0,8.8,"1,697,418","Action, Adventure, Drama",179 min,$342.55M
...,...,...,...,...,...,...,...
4949,Gigli,2003.0,2.6,"49,602","Comedy, Crime, Romance",121 min,$6.07M
4950,Glitter,2001.0,2.4,"23,744","Drama, Music, Romance",104 min,$4.27M
4951,The Hottie & the Nottie,2008.0,1.9,"38,569","Comedy, Romance",91 min,$0.03M
4952,From Justin to Kelly,2003.0,1.9,"26,639","Comedy, Musical, Romance",81 min,$4.92M
4953,A Slave of Fashion,1925.0,1.9,177,"Comedy, Romance",60 min,$0.18M

In [ ]:
df= pd.read_csv('moviesv4.csv')

In [ ]:
#strip the value of genres column
df['genres'] = df['genres'].str.strip()

In [88]:
df.to_csv('moviesv4.csv', index=False)